[Desktop Entry]
Version=1.0
Type=Application
#Icon=
Exec=changeMe/engrDesktop/bar.sh
StartupNotify=true
Categories=Engineering;
Name=Foo
Comment=Test
