[Desktop Entry]
Version=1.0
Type=Application
Icon=ansysMechanical.png
Exec=changeMe/engrDesktop/ansysMechanical/ansysMechanical-2015r0.sh
StartupNotify=true
Categories=AnsysMechanical;
Name=Ansys Mechanical 2015 R0
