[Desktop Entry]
Version=1.0
Type=Application
Icon=/home/anthomas/engrDesktop/ansysMechanical/ansysMechanical.png
Exec=/home/anthomas/engrDesktop/ansysMechanical/ansysMechanical-2018r1.sh
StartupNotify=true
Categories=AnsysMechanical;
Name=Ansys Mechanical 2018 R1