[Desktop Entry]
Version=1.0
Type=Application
Icon=matlab.png
Exec=changeMe/engrDesktop/matlab/matlab-r2021b.sh
StartupNotify=true
Categories=MATLAB;
Name=MATLAB R2021b
