[Desktop Entry]
Version=1.0
Type=Application
Icon=/home/anthomas/engrDesktop/matlab/matlab.png
Exec=/home/anthomas/engrDesktop/matlab/matlab-r2019a.sh
StartupNotify=true
Categories=MATLAB;
Name=MATLAB R2019a
