[Desktop Entry]
Version=1.0
Type=Application
Icon=matlab.png
Exec=/home/anthomas/engrDesktop/matlab/matlab-r2017b.sh
StartupNotify=true
Categories=MATLAB;
Name=MATLAB R2017b
