[Desktop Entry]
Version=1.0
Type=Application
Icon=/home/anthomas/engrDesktop/starccm/starccm.png
Exec=/home/anthomas/engrDesktop/starccm/starccm-13.04.010.sh
StartupNotify=true
Categories=Starccm;
Name=STAR-CCM 13.04.010
