[Desktop Entry]
Version=1.0
Type=Application
Icon=starccm.png
Exec=/home/anthomas/engrDesktop/starccm/starccm-17.04.008-R8.sh
StartupNotify=true
Categories=Starccm;
Name=STAR-CCM 17.04.008 (Double Precision)
Comment=Latest Version
