[Desktop Entry]
Version=1.0
Type=Application
Icon=/home/anthomas/engrDesktop/tecplot/tecplot.png
Exec=/home/anthomas/engrDesktop/tecplot/tecplot-2020r2.sh
StartupNotify=true
Categories=Tecplot;
Name=Tecplot 2020 R2
Comment=Latest Version

